<div class="jumbotron">
  <h1>SocialH4ck</h1>
  <p class="lead">
    <img src="images/logo.png"><br>
    La Startup que prefieres 
  </p>
</div>

<div class="row marketing">
  <h4>Nuestra Vision</h4>
  <p>
    En SociaH4ck nos apasiona la tecnología y creemos que la innovación es clave para el cambio. Somos una empresa venezolana especializada en desarrollo web y mercadeo digital. Hemos desarrollado proyectos tanto a nivel nacional como internacional. 
  </p>

  <p>
    Trabajamos siempre de la mano de las últimas tendencias a nivel mundial y contamos con un equipo de profesionales en constante capacitación en el área de tecnología y marketing digital.
  </p>

  <p>Nos enorgullece mencionar que trabajamos bajo la metodología Scrum para el desarrollo de software y metodologías ágiles para el trabajo en equipo para ofrecer siempre el mejor resultado a nuestros clientes.
</p>
</div>
