<div class="row">
	<div ng-repeat="user in data">
		<div class="panel panel-default">
			<div class="panel-heading"><h1 class="title-center">{{user.name}}</h1></div>
			<div class="panel-body">
				<div class="col-md-10 col-sm-10 col-xs-10 col-lg-10">
				<img src="{{user.picture}}" class="img-responsive">
				<p><b>Genero:</b> {{user.gender}}</p>
				<p><b>Edad:</b> {{user.age}}</p>
				<p><b>Balance:</b> {{user.balance}}</p>
				<p><b>Color de ojos:</b> {{user.eyeColor}}</p>
				<p><b>Guid:</b> {{user.guid}}</p>
				<p><b>Correo:</b> {{user.email}}</p>
				<p><b>Teléfono:</b> {{user.phone}}</p>
				<p><b>Dirección:</b> {{user.address}}</p>
				<p><b>Acerca:</b> {{user.about}}</p>
				<p><b>Registrado:</b> {{user.registered}}</p>
				<p><b>Tags:</b></p>
				<div ng-repeat="tag in user.tags track by $index">
					{{tag}}
				</div>
				<p><b>Saludo: </b>{{user.greeting}}</p>
				<p><b>Fruta favorita: </b>{{user.favoriteFruit}}</p>
				</div>
			</div>
		</div>
	</div>
</div>