<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
		        <h3>Ver mapa de:</h3>
			<div ng-repeat="dato in data">
				<a class="btn btn-primary" ng-click="verMapa(dato.latitude,dato.longitude)">{{ dato.name }}</a><br><br>
			</div>
		</div>
	</div><br>
	<h4>Latitud: {{ map.center.lati }} Longitud: {{map.center.long}}</h1>
	<div class="row" ng-show="showMapa">
		<ui-gmap-google-map center="{latitude: map.center.lati, longitude: map.center.long }" zoom="12"></ui-gmap-google-map>
	</div>
</div>